<footer> 
   <br>
   <br>
    <p>
        <small> All picture belongs to NASA.</small> 
    </p>     
    <p>
        <small>You may use NASA imagery, video and audio material for educational or informational purposes, including photo collections, textbooks, public exhibits, and Internet web pages.</small>
    </p>   
</footer>