<nav >
    <link rel="stylesheet" href="/assets/css/stylesheet.css">

    <div id="nav-wrapper">
    
    <img src="/assets/image/other/NightSkyOnEarth.jpg" alt="banner img" id="nav-img">
    
    <div id="nav-container">
        <div class="link">
            <a href="./">Home</a>
        </div>
        <div class="link"> 
            <a href="./gallery">Gallery</a>
        </div>
        <div class="link">
            <a href="./download">Download</a>
        </div>
        <div class="link">
            <a href="./contact">Contact</a>
        </div>
    </div>

    </div>

</nav>
