{{>header}}
<div class="form-wrapper">
<h1>Welcome To Contact Page </h1>
<div>
    <form action="/contact" method="POST" id="contact-form" >
    <br>
    <lable>Your Name</lable>
    <br>
    <input type="text" name="who">
    <br>
    <lable>Your institution</lable>
    <br>
    <input type="text" name="inst">
    <br>
    <lable>Your Email Address</lable>
    <br>
    <input type="text" name="email">
    <br>
    <lable>Your Inquiry</lable>s
    <br>
    <input type="text" id="LargetTextBox" name="context">
    <br>
    <input type="submit" value="Submit">
    </form>
</div>
</div>
{{>footer}}