{{>header}}
<div class="success-wrapper">
<h1>Thank you for your Inquiry </h1>
<div>
    <p>{{data.who}} from {{data.inst}} has successfully left a message.</p>
    <p>We will get back to you at {{data.email}} as soon as forever. </p>
</div>
</div>
{{>footer}}